.footer {
  position: fixed;
  bottom: $gutter--sm;
  left: $gutter--sm;
  width: calc(100% - #{$gutter--md});
  transform: translate3d(0, 200%, 0);
  transition: $transition--bezier;

  &__button {
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-decoration: uppercase;
    justify-content: space-between;
  }

  body[footer-visible="true"] & {
    transform: translate3d(0, 0%, 0);
  }
}
