.header {
  &--fixed {
    position: fixed;
    top: var(--grid-gap);
    right: var(--grid-gap);
    z-index: 2;
    height: calc(
      var(--font-size--base) * 1.5 * var(--font-size--heading-mult) * #{$line-height--heading}
    );
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__media {
    max-width: 80vw;
    max-height: 80vh;
    aspect-ratio: var(--aspect-ratio);
    object-fit: cover;
    height: auto;
  }
}
