@use "sass:math";

$screen-background: black;
$bezier: cubic-bezier(0.23, 1, 0.32, 1);
// $bezier: linear;
$rotate-value: 0;

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (math.div($width, $height)) * 100%;
  }
  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

.videoplayer {
  overflow: hidden;
  position: relative;
  display: none;
  background: transparent linear-gradient(to bottom, #85908c 0%, #323431 100%)
    repeat scroll 0 0;
  background-size: cover;
  width: 100%;
  max-width: 40vw;
  @include aspect-ratio(4, 3);

  @supports (aspect-ratio: 4 / 3) {
    aspect-ratio: 4 / 3;
    &:before {
      content: none;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $screen-background;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include break("md", "max") {
      align-items: flex-end;
      padding: $gutter--lg;
      justify-content: flex-end;
      padding-bottom: #{($gutter--sm * 2) + $gutter--md + $gutter--lg};
    }
  }

  &__video {
    video {
      display: none;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      animation: 3000ms linear 2000ms normal forwards infinite paused on;

      &[active="true"] {
        display: block;
        animation-play-state: running;
      }
    }
  }

  &__overlay,
  &__canvas {
    z-index: 2;
  }

  // @include break("md", "min") {
  // states
  &.on {
    animation: 300ms $bezier 0ms normal forwards 1 running onBlink;
    animation-play-state: running;
    display: block;
  }

  &.off {
    animation: 750ms $bezier 0ms reverse forwards 1 running offBlink;
    animation-play-state: running;
    animation-direction: normal;
    display: block;
  }
  // }
}

.videoeffect {
  visibility: visible;

  &--scanlines {
    z-index: 9999;
    background: linear-gradient(
        transparentize($screen-background, 1) 50%,
        transparentize(darken($screen-background, 10), 0.75) 50%
      ),
      linear-gradient(
        90deg,
        transparentize(#ff0000, 0.94),
        transparentize(#00ff00, 0.98),
        transparentize(#0000ff, 0.94)
      );
    background-size: 100% 2px, 8px 100%;
    pointer-events: none;
  }

  &--snow {
    @extend .videoeffect;
    opacity: 0.2;
  }

  &--vignette {
    background-image: url(/assets/assets/images/border.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 2;
    border: 10px solid $screen-background;
    transform: scale(1.01);
  }

  &--vcr {
    opacity: 0.2;
  }
}

// .glitch {
//   animation: 5s ease 2000ms normal none infinite running glitch;
// }

// @keyframes glitch {
//   30% {
//   }
//   40% {
//     opacity: 1;
//     transform: scale(1, 1);
//     filter: brightness(1);
//   }
//   41% {
//     filter: brightness(4);
//   }
//   42% {
//     opacity: 0.8;
//     transform: scale(1, 1.2);
//     filter: brightness(1);
//   }
//   42% {
//     opacity: 0.8;
//     transform: scale(1, 1.2);
//     transform: skew(-5deg, 0);
//   }
//   43% {
//     opacity: 1;
//     transform: scale(1, 1);
//     transform: skew(0, 0);
//   }
//   65% {
//   }
// }
@keyframes on {
  0% {
    transform: scale(1, 0.3) translate3d(0, 0, 0);
    filter: brightness(4) blur(15px);
  }
  5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }

  6% {
    transform: scale(1, 0.1) translate3d(0, -100%, 0);
  }

  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    filter: brightness(2) blur(5px);
  }

  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: brightness(1) blur(0px);
  }

  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: brightness(1) blur(0px);
  }
}

@keyframes onBlink {
  0% {
    transform: scale(0, 0);
  }
  40% {
    transform: scale(0.2, 0.005);
  }
  60% {
    transform: scale(1, 0.005);
  }
  70% {
    transform: scale(1, 0.005);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes offBlink {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 0.005);
  }
  60% {
    transform: scale(1, 0.005);
  }
  70% {
    transform: scale(0.2, 0.005);
  }
  100% {
    transform: scale(0, 0);
  }
}
