html,
body {
  height: 100%;
}

body {
  padding-top: var(--grid-gap);
  padding-bottom: var(--grid-gap);
  background-color: color(black, base);

  &:not(.js-loaded) * {
    transition: none;
  }
}

main {
  padding-bottom: 128px;
}
:root {
  --space: #{$gutter--md};
}

.spacer {
  margin: var(--space);

  &--x {
    margin-left: var(--space);
    margin-right: var(--space);
  }

  &--y {
    margin-top: var(--space);
    margin-bottom: var(--space);
  }

  &--top {
    margin-top: var(--space);
  }

  &--bottom {
    margin-bottom: var(--space);
  }

  &--left {
    margin-left: var(--space);
  }

  &--right {
    margin-right: var(--space);
  }

  &--lg {
    --space: #{$gutter--lg};
  }

  &--none {
    --space: 0px;
  }
}
