html {
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
  moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: “liga” on;
}

:root {
  --font-size--base: 1.25rem;
  --font-size--heading-mult: 1.5;
  --font-size--margin: #{$gutter--lg};

  @include break("lg", "min") {
    --font-size--base: 1.5rem;
    --font-size--heading-mult: 1.5;
  }

  @include break("md", "max") {
    --font-size--base: 1rem;
    --font-size--heading-mult: 1.25;
    --font-size--margin: #{$gutter--md};
  }

  @include break("md", "max") {
    --font-size--base: 1rem;
    --font-size--heading-mult: 1;
  }
}

body {
  font-family: $font--main;
  color: $color--text-base;
  line-height: $line-height--base;
  font-size: var(--font-size--base);
}

#{$headings} {
  font-family: $font--display;
  line-height: $line-height--heading;
  font-weight: $font-weight--heading;
  margin: 0 0;
  color: $color--text-heading;
  letter-spacing: -0.051rem;
}

h1,
h2 {
  text-transform: $font--transform-heading;
}

button,
input,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

h1 {
  font-size: calc(
    var(--font-size--base) * 1.5 * var(--font-size--heading-mult)
  );
}

h2 {
  font-size: calc(var(--font-size--base) * 2 * var(--font-size--heading-mult));
}

h3 {
  font-size: calc(
    var(--font-size--base) * 1.5 * var(--font-size--heading-mult)
  );
}

h4 {
  font-size: calc(
    var(--font-size--base) * 1.25 * var(--font-size--heading-mult)
  );
}

h5,
h6 {
  font-size: calc(
    var(--font-size--base) * 1.1 * var(--font-size--heading-mult)
  );
}

small {
  font-size: calc(var(--font-size--base) * 0.7);
}

b,
strong {
  font-weight: $font-weight--bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

code,
pre,
kbd,
tt,
var {
  font-family: $font--code;
}

ul {
  list-style: none;
  padding: 0 0;
  margin: 0 0;
}

li {
  font-size: inherit;
}

article {
  p {
    max-width: 40em;
  }

  #{$headings} {
    margin-top: $gutter--lg;
  }

  p {
    margin-top: $gutter--lg;
  }

  ul {
    li:before {
      content: '> '
    }
  }

  a {
    position: relative;
    color: inherit;
    transition: color 0.5s $transition--bezier-timing;
    z-index: 0;
    text-decoration: none;
    will-change: color;
    margin-right: 2px;
    display: inline-block;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      width: calc(100% + 2px);
      height: 100%;
      transform: scale3d(1, 0.1, 1);
      transform-origin: bottom;
      left: -1px;
      bottom: 0;
      background-color: color(white, base);
      transition: transform 0.5s $transition--bezier-timing;
      z-index: -1;
      will-change: transform;
    }

    &:hover,
    &.active {
      color: color(black, base);

      &:before {
        transform: scale3d(1, 1, 1);
      }
    }
  }
}
