.icon,
%icon {
  width: $icon-size--base;
  height: $icon-size--base;
  display: inline-block;

  &--light {
    background-color: $icon-color--light;
  }

  &--dark {
    background-color: $icon-color--dark;
  }


  @each $icon in $icons {
		&--#{$icon} {
			mask-image: url(#{$icon-url + 'icon--' + $icon + '.svg' });
		}
	}
  &--svg {
    background-color: transparent;

    svg {
      fill: currentColor;
      width: 100%;
    }
  }
}
